integration/integration-service/src/main/resources/META-INF/wsdl/core-types-2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- generated by jp-soa-cartridge-dev -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://www.racon.at/eamp/core/core-types-2.0" xmlns:jp="http://www.grz.at/jp/DataTypes-2.5" targetNamespace="http://www.racon.at/eamp/core/core-types-2.0" elementFormDefault="qualified" attributeFormDefault="unqualified">  
  <xs:import namespace="http://www.grz.at/jp/DataTypes-2.5" schemaLocation="jp-datatypes-2.5.xsd"/>  
  <xs:simpleType name="LifecyclePhase"> 
    <xs:restriction base="xs:string"> 
      <xs:enumeration value="DESIGN"/>  
      <xs:enumeration value="DEVELOPMENT"/>  
      <xs:enumeration value="TEST"/>  
      <xs:enumeration value="RELEASED"/>  
      <xs:enumeration value="PRODUCTION"/>  
      <xs:enumeration value="DEPRECATED"/>  
      <xs:enumeration value="END_OF_LIFE"/> 
    </xs:restriction> 
  </xs:simpleType>  
  <xs:simpleType name="Role"> 
    <xs:restriction base="xs:string"> 
      <xs:enumeration value="ARCHITECT"/>  
      <xs:enumeration value="ANALYST"/>  
      <xs:enumeration value="PRODUCTMANAGER"/>  
      <xs:enumeration value="PROJECTMANAGER"/>  
      <xs:enumeration value="DESIGNER"/>  
      <xs:enumeration value="DEVELOPER"/>  
      <xs:enumeration value="TESTER"/>  
      <xs:enumeration value="SYSTEMENGINEER"/> 
    </xs:restriction> 
  </xs:simpleType>  
  <xs:simpleType name="Sector"> 
    <xs:restriction base="xs:string"> 
      <xs:enumeration value="HARMONISIERT"/>  
      <xs:enumeration value="SIENA"/>  
      <xs:enumeration value="TOKIO"/> 
    </xs:restriction> 
  </xs:simpleType>  
  <xs:simpleType name="Tier"> 
    <xs:restriction base="xs:string"> 
      <xs:enumeration value="CLIENT"/>  
      <xs:enumeration value="WEB"/>  
      <xs:enumeration value="PROCESS"/>  
      <xs:enumeration value="SERVICE"/>  
      <xs:enumeration value="HOST"/>  
      <xs:enumeration value="DATA"/> 
    </xs:restriction> 
  </xs:simpleType>  
  <xs:simpleType name="PortVisibility"> 
    <xs:restriction base="xs:string"> 
      <xs:enumeration value="PUBLIC"/>  
      <xs:enumeration value="PRIVATE"/> 
    </xs:restriction> 
  </xs:simpleType>  
  <xs:simpleType name="DependencyRole"> 
    <xs:restriction base="xs:string"> 
      <xs:enumeration value="PROVIDER"/>  
      <xs:enumeration value="CONSUMER"/> 
    </xs:restriction> 
  </xs:simpleType>  
  <xs:complexType name="Artifact"> 
    <xs:sequence> 
      <xs:element name="identifier" type="xs:string" nillable="false" minOccurs="1" maxOccurs="1"/>  
      <xs:element name="lifecyclePhase" type="ns0:LifecyclePhase" nillable="true" minOccurs="1" maxOccurs="1"/>  
      <xs:element name="name" type="xs:string" nillable="false" minOccurs="1" maxOccurs="1"/>  
      <xs:element name="description" type="xs:string" nillable="false" minOccurs="1" maxOccurs="1"/>  
      <xs:element name="version" type="xs:string" nillable="false" minOccurs="1" maxOccurs="1"/>  
      <xs:element name="owner" type="xs:string" nillable="true" minOccurs="1" maxOccurs="1"/>  
      <xs:element name="predecessor" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1"/>  
      <xs:element name="created" type="xs:dateTime" nillable="false" minOccurs="1" maxOccurs="1"/>  
      <xs:element name="updated" type="xs:dateTime" nillable="false" minOccurs="0" maxOccurs="1"/> 
    </xs:sequence> 
  </xs:complexType>  
  <xs:complexType name="ArtifactList"> 
    <xs:sequence> 
      <xs:element name="artifact" type="ns0:Artifact" minOccurs="0" maxOccurs="unbounded"/> 
    </xs:sequence> 
  </xs:complexType>  
  <xs:element name="artifact" type="ns0:Artifact" nillable="true"/>  
  <xs:complexType name="SoftwareArtifact"> 
    <xs:complexContent> 
      <xs:extension base="ns0:Artifact"> 
        <xs:sequence> 
          <xs:element name="stakeholders" type="ns0:StakeholderList" nillable="false" minOccurs="0" maxOccurs="1"/>  
          <xs:element name="documents" type="ns0:DocumentList" nillable="false" minOccurs="0" maxOccurs="1"/> 
        </xs:sequence> 
      </xs:extension> 
    </xs:complexContent> 
  </xs:complexType>  
  <xs:complexType name="SoftwareArtifactList"> 
    <xs:sequence> 
      <xs:element name="softwareArtifact" type="ns0:SoftwareArtifact" minOccurs="0" maxOccurs="unbounded"/> 
    </xs:sequence> 
  </xs:complexType>  
  <xs:element name="softwareArtifact" type="ns0:SoftwareArtifact" nillable="true"/>  
  <xs:complexType name="Document"> 
    <xs:complexContent> 
      <xs:extension base="ns0:Artifact"> 
        <xs:sequence> 
          <xs:element name="type" type="xs:string" nillable="true" minOccurs="1" maxOccurs="1"/>  
          <xs:element name="contentType" type="xs:string" nillable="true" minOccurs="1" maxOccurs="1"/>  
          <xs:element name="location" type="xs:string" nillable="true" minOccurs="1" maxOccurs="1"/> 
        </xs:sequence> 
      </xs:extension> 
    </xs:complexContent> 
  </xs:complexType>  
  <xs:complexType name="DocumentList"> 
    <xs:sequence> 
      <xs:element name="document" type="ns0:Document" minOccurs="0" maxOccurs="unbounded"/> 
    </xs:sequence> 
  </xs:complexType>  
  <xs:element name="document" type="ns0:Document" nillable="true"/>  
  <xs:complexType name="Stakeholder"> 
    <xs:complexContent> 
      <xs:extension base="ns0:Artifact"> 
        <xs:sequence> 
          <xs:element name="role" type="ns0:Role" nillable="false" minOccurs="1" maxOccurs="1"/>  
          <xs:element name="person" type="ns0:Person" nillable="false" minOccurs="1" maxOccurs="1"/> 
        </xs:sequence> 
      </xs:extension> 
    </xs:complexContent> 
  </xs:complexType>  
  <xs:complexType name="StakeholderList"> 
    <xs:sequence> 
      <xs:element name="stakeholder" type="ns0:Stakeholder" minOccurs="0" maxOccurs="unbounded"/> 
    </xs:sequence> 
  </xs:complexType>  
  <xs:element name="stakeholder" type="ns0:Stakeholder" nillable="true"/>  
  <xs:complexType name="Port"> 
    <xs:complexContent> 
      <xs:extension base="ns0:Artifact"> 
        <xs:sequence> 
          <xs:element name="module" type="ns0:Module" nillable="false" minOccurs="1" maxOccurs="1"/>  
          <xs:element name="portInterface" type="ns0:Interface" nillable="false" minOccurs="0" maxOccurs="1"/>  
          <xs:element name="type" type="xs:string" nillable="false" minOccurs="1" maxOccurs="1"/>  
          <xs:element name="visibility" type="ns0:PortVisibility" nillable="false" minOccurs="1" maxOccurs="1"/>  
          <xs:element name="address" type="xs:string" nillable="false" minOccurs="1" maxOccurs="1"/>  
          <xs:element name="component" type="ns0:ContainedElement" nillable="false" minOccurs="0" maxOccurs="1"/>  
          <xs:element name="endpoints" type="ns0:EndpointList" nillable="false" minOccurs="0" maxOccurs="1"/> 
        </xs:sequence> 
      </xs:extension> 
    </xs:complexContent> 
  </xs:complexType>  
  <xs:complexType name="PortList"> 
    <xs:sequence> 
      <xs:element name="port" type="ns0:Port" minOccurs="0" maxOccurs="unbounded"/> 
    </xs:sequence> 
  </xs:complexType>  
  <xs:element name="port" type="ns0:Port" nillable="true"/>  
  <xs:complexType name="Endpoint"> 
    <xs:complexContent> 
      <xs:extension base="ns0:Artifact"> 
        <xs:sequence> 
          <xs:element name="zone" type="xs:string" nillable="false" minOccurs="1" maxOccurs="1"/>  
          <xs:element name="address" type="xs:string" nillable="false" minOccurs="1" maxOccurs="1"/> 
        </xs:sequence> 
      </xs:extension> 
    </xs:complexContent> 
  </xs:complexType>  
  <xs:complexType name="EndpointList"> 
    <xs:sequence> 
      <xs:element name="endpoint" type="ns0:Endpoint" minOccurs="0" maxOccurs="unbounded"/> 
    </xs:sequence> 
  </xs:complexType>  
  <xs:element name="endpoint" type="ns0:Endpoint" nillable="true"/>  
  <xs:complexType name="BusinesDomain"> 
    <xs:complexContent> 
      <xs:extension base="ns0:Artifact"> 
        <xs:sequence> 
          <xs:element name="shortName" type="xs:string" nillable="false" minOccurs="1" maxOccurs="1"/> 
        </xs:sequence> 
      </xs:extension> 
    </xs:complexContent> 
  </xs:complexType>  
  <xs:complexType name="BusinesDomainList"> 
    <xs:sequence> 
      <xs:element name="businesDomain" type="ns0:BusinesDomain" minOccurs="0" maxOccurs="unbounded"/> 
    </xs:sequence> 
  </xs:complexType>  
  <xs:element name="businesDomain" type="ns0:BusinesDomain" nillable="true"/>  
  <xs:complexType name="Person"> 
    <xs:complexContent> 
      <xs:extension base="ns0:Artifact"> 
        <xs:sequence> 
          <xs:element name="firstName" type="xs:string" nillable="false" minOccurs="0" maxOccurs="1"/>  
          <xs:element name="lastName" type="xs:string" nillable="false" minOccurs="0" maxOccurs="1"/>  
          <xs:element name="displayName" type="xs:string" nillable="false" minOccurs="0" maxOccurs="1"/>  
          <xs:element name="email" type="xs:string" nillable="false" minOccurs="0" maxOccurs="1"/>  
          <xs:element name="phone" type="xs:string" nillable="false" minOccurs="0" maxOccurs="1"/>  
          <xs:element name="organization" type="xs:string" nillable="false" minOccurs="0" maxOccurs="1"/>  
          <xs:element name="userName" type="xs:string" nillable="false" minOccurs="1" maxOccurs="1"/> 
        </xs:sequence> 
      </xs:extension> 
    </xs:complexContent> 
  </xs:complexType>  
  <xs:complexType name="PersonList"> 
    <xs:sequence> 
      <xs:element name="person" type="ns0:Person" minOccurs="0" maxOccurs="unbounded"/> 
    </xs:sequence> 
  </xs:complexType>  
  <xs:element name="person" type="ns0:Person" nillable="true"/>  
  <xs:complexType name="Application"> 
    <xs:complexContent> 
      <xs:extension base="ns0:SoftwareArtifact"> 
        <xs:sequence> 
          <xs:element name="shortName" type="xs:string" nillable="false" minOccurs="1" maxOccurs="1"/>  
          <xs:element name="producer" type="xs:string" nillable="true" minOccurs="1" maxOccurs="1"/>  
          <xs:element name="sector" type="ns0:Sector" nillable="true" minOccurs="1" maxOccurs="1"/>  
          <xs:element name="businesDomain" type="ns0:BusinesDomain" nillable="false" minOccurs="0" maxOccurs="1"/> 
        </xs:sequence> 
      </xs:extension> 
    </xs:complexContent> 
  </xs:complexType>  
  <xs:complexType name="ApplicationList"> 
    <xs:sequence> 
      <xs:element name="application" type="ns0:Application" minOccurs="0" maxOccurs="unbounded"/> 
    </xs:sequence> 
  </xs:complexType>  
  <xs:element name="application" type="ns0:Application" nillable="true"/>  
  <xs:complexType name="Module"> 
    <xs:complexContent> 
      <xs:extension base="ns0:SoftwareArtifact"> 
        <xs:sequence> 
          <xs:element name="type" type="xs:string" nillable="false" minOccurs="1" maxOccurs="1"/>  
          <xs:element name="shortName" type="xs:string" nillable="false" minOccurs="1" maxOccurs="1"/>  
          <xs:element name="tier" type="ns0:Tier" nillable="false" minOccurs="1" maxOccurs="1"/>  
          <xs:element name="producer" type="xs:string" nillable="false" minOccurs="0" maxOccurs="1"/>  
          <xs:element name="sector" type="ns0:Sector" nillable="false" minOccurs="1" maxOccurs="1"/>  
          <xs:element name="application" type="ns0:Application" nillable="true" minOccurs="1" maxOccurs="1"/> 
        </xs:sequence> 
      </xs:extension> 
    </xs:complexContent> 
  </xs:complexType>  
  <xs:complexType name="ModuleList"> 
    <xs:sequence> 
      <xs:element name="module" type="ns0:Module" minOccurs="0" maxOccurs="unbounded"/> 
    </xs:sequence> 
  </xs:complexType>  
  <xs:element name="module" type="ns0:Module" nillable="true"/>  
  <xs:complexType name="ContainedElement"> 
    <xs:complexContent> 
      <xs:extension base="ns0:SoftwareArtifact"> 
        <xs:sequence> 
          <xs:element name="type" type="xs:string" nillable="false" minOccurs="1" maxOccurs="1"/>  
          <xs:element name="module" type="ns0:Module" nillable="false" minOccurs="1" maxOccurs="1"/>  
          <xs:element name="providedInterfaces" type="ns0:InterfaceList" nillable="false" minOccurs="0" maxOccurs="1"/>  
          <xs:element name="consumedInformations" type="ns0:InformationObjectList" nillable="false" minOccurs="0" maxOccurs="1"/>  
          <xs:element name="consumedPorts" type="ns0:PortList" nillable="false" minOccurs="0" maxOccurs="1"/> 
        </xs:sequence> 
      </xs:extension> 
    </xs:complexContent> 
  </xs:complexType>  
  <xs:complexType name="ContainedElementList"> 
    <xs:sequence> 
      <xs:element name="containedElement" type="ns0:ContainedElement" minOccurs="0" maxOccurs="unbounded"/> 
    </xs:sequence> 
  </xs:complexType>  
  <xs:element name="containedElement" type="ns0:ContainedElement" nillable="true"/>  
  <xs:complexType name="Interface"> 
    <xs:complexContent> 
      <xs:extension base="ns0:SoftwareArtifact"> 
        <xs:sequence> 
          <xs:element name="type" type="xs:string" nillable="false" minOccurs="1" maxOccurs="1"/>  
          <xs:element name="namespace" type="xs:string" nillable="false" minOccurs="0" maxOccurs="1"/> 
        </xs:sequence> 
      </xs:extension> 
    </xs:complexContent> 
  </xs:complexType>  
  <xs:complexType name="InterfaceList"> 
    <xs:sequence> 
      <xs:element name="interface" type="ns0:Interface" minOccurs="0" maxOccurs="unbounded"/> 
    </xs:sequence> 
  </xs:complexType>  
  <xs:element name="interface" type="ns0:Interface" nillable="true"/>  
  <xs:complexType name="InformationObject"> 
    <xs:complexContent> 
      <xs:extension base="ns0:SoftwareArtifact"> 
        <xs:sequence></xs:sequence> 
      </xs:extension> 
    </xs:complexContent> 
  </xs:complexType>  
  <xs:complexType name="InformationObjectList"> 
    <xs:sequence> 
      <xs:element name="informationObject" type="ns0:InformationObject" minOccurs="0" maxOccurs="unbounded"/> 
    </xs:sequence> 
  </xs:complexType>  
  <xs:element name="informationObject" type="ns0:InformationObject" nillable="true"/>  
  <xs:complexType name="Service"> 
    <xs:complexContent> 
      <xs:extension base="ns0:ContainedElement"> 
        <xs:sequence></xs:sequence> 
      </xs:extension> 
    </xs:complexContent> 
  </xs:complexType>  
  <xs:complexType name="ServiceList"> 
    <xs:sequence> 
      <xs:element name="service" type="ns0:Service" minOccurs="0" maxOccurs="unbounded"/> 
    </xs:sequence> 
  </xs:complexType>  
  <xs:element name="service" type="ns0:Service" nillable="true"/>  
  <xs:complexType name="UserInterfaceComponent"> 
    <xs:complexContent> 
      <xs:extension base="ns0:ContainedElement"> 
        <xs:sequence></xs:sequence> 
      </xs:extension> 
    </xs:complexContent> 
  </xs:complexType>  
  <xs:complexType name="UserInterfaceComponentList"> 
    <xs:sequence> 
      <xs:element name="userInterfaceComponent" type="ns0:UserInterfaceComponent" minOccurs="0" maxOccurs="unbounded"/> 
    </xs:sequence> 
  </xs:complexType>  
  <xs:element name="userInterfaceComponent" type="ns0:UserInterfaceComponent" nillable="true"/>  
  <xs:complexType name="HostProgramm"> 
    <xs:complexContent> 
      <xs:extension base="ns0:ContainedElement"> 
        <xs:sequence></xs:sequence> 
      </xs:extension> 
    </xs:complexContent> 
  </xs:complexType>  
  <xs:complexType name="HostProgrammList"> 
    <xs:sequence> 
      <xs:element name="hostProgramm" type="ns0:HostProgramm" minOccurs="0" maxOccurs="unbounded"/> 
    </xs:sequence> 
  </xs:complexType>  
  <xs:element name="hostProgramm" type="ns0:HostProgramm" nillable="true"/>  
  <xs:complexType name="PortalEventInterface"> 
    <xs:complexContent> 
      <xs:extension base="ns0:Interface"> 
        <xs:sequence> 
          <xs:element name="schema" type="xs:string" nillable="false" minOccurs="0" maxOccurs="1"/> 
        </xs:sequence> 
      </xs:extension> 
    </xs:complexContent> 
  </xs:complexType>  
  <xs:complexType name="PortalEventInterfaceList"> 
    <xs:sequence> 
      <xs:element name="portalEventInterface" type="ns0:PortalEventInterface" minOccurs="0" maxOccurs="unbounded"/> 
    </xs:sequence> 
  </xs:complexType>  
  <xs:element name="portalEventInterface" type="ns0:PortalEventInterface" nillable="true"/>  
  <xs:complexType name="ParameterList"> 
    <xs:complexContent> 
      <xs:extension base="ns0:Interface"> 
        <xs:sequence></xs:sequence> 
      </xs:extension> 
    </xs:complexContent> 
  </xs:complexType>  
  <xs:complexType name="ParameterListList"> 
    <xs:sequence> 
      <xs:element name="parameterList" type="ns0:ParameterList" minOccurs="0" maxOccurs="unbounded"/> 
    </xs:sequence> 
  </xs:complexType>  
  <xs:element name="parameterList" type="ns0:ParameterList" nillable="true"/>  
  <xs:complexType name="ServiceInterface"> 
    <xs:complexContent> 
      <xs:extension base="ns0:Interface"> 
        <xs:sequence></xs:sequence> 
      </xs:extension> 
    </xs:complexContent> 
  </xs:complexType>  
  <xs:complexType name="ServiceInterfaceList"> 
    <xs:sequence> 
      <xs:element name="serviceInterface" type="ns0:ServiceInterface" minOccurs="0" maxOccurs="unbounded"/> 
    </xs:sequence> 
  </xs:complexType>  
  <xs:element name="serviceInterface" type="ns0:ServiceInterface" nillable="true"/>  
  <xs:complexType name="HostInterface"> 
    <xs:complexContent> 
      <xs:extension base="ns0:Interface"> 
        <xs:sequence></xs:sequence> 
      </xs:extension> 
    </xs:complexContent> 
  </xs:complexType>  
  <xs:complexType name="HostInterfaceList"> 
    <xs:sequence> 
      <xs:element name="hostInterface" type="ns0:HostInterface" minOccurs="0" maxOccurs="unbounded"/> 
    </xs:sequence> 
  </xs:complexType>  
  <xs:element name="hostInterface" type="ns0:HostInterface" nillable="true"/>  
  <xs:complexType name="NativeServiceInterface"> 
    <xs:complexContent> 
      <xs:extension base="ns0:ServiceInterface"> 
        <xs:sequence> 
          <xs:element name="businessInterface" type="xs:string" nillable="false" minOccurs="1" maxOccurs="1"/>  
          <xs:element name="remoteInterface" type="xs:string" nillable="false" minOccurs="0" maxOccurs="1"/> 
        </xs:sequence> 
      </xs:extension> 
    </xs:complexContent> 
  </xs:complexType>  
  <xs:complexType name="NativeServiceInterfaceList"> 
    <xs:sequence> 
      <xs:element name="nativeServiceInterface" type="ns0:NativeServiceInterface" minOccurs="0" maxOccurs="unbounded"/> 
    </xs:sequence> 
  </xs:complexType>  
  <xs:element name="nativeServiceInterface" type="ns0:NativeServiceInterface" nillable="true"/>  
  <xs:complexType name="WebServiceInterface"> 
    <xs:complexContent> 
      <xs:extension base="ns0:ServiceInterface"> 
        <xs:sequence> 
          <xs:element name="wsdl" type="xs:string" nillable="false" minOccurs="0" maxOccurs="1"/> 
        </xs:sequence> 
      </xs:extension> 
    </xs:complexContent> 
  </xs:complexType>  
  <xs:complexType name="WebServiceInterfaceList"> 
    <xs:sequence> 
      <xs:element name="webServiceInterface" type="ns0:WebServiceInterface" minOccurs="0" maxOccurs="unbounded"/> 
    </xs:sequence> 
  </xs:complexType>  
  <xs:element name="webServiceInterface" type="ns0:WebServiceInterface" nillable="true"/>  
  <xs:complexType name="Table"> 
    <xs:complexContent> 
      <xs:extension base="ns0:InformationObject"> 
        <xs:sequence> 
          <xs:element name="schema" type="xs:string" nillable="false" minOccurs="1" maxOccurs="1"/> 
        </xs:sequence> 
      </xs:extension> 
    </xs:complexContent> 
  </xs:complexType>  
  <xs:complexType name="TableList"> 
    <xs:sequence> 
      <xs:element name="table" type="ns0:Table" minOccurs="0" maxOccurs="unbounded"/> 
    </xs:sequence> 
  </xs:complexType>  
  <xs:element name="table" type="ns0:Table" nillable="true"/> 
</xs:schema>
