integration/integration-service/src/main/resources/META-INF/wsdl/core-parameters-2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- generated by jp-soa-cartridge-dev -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://www.racon.at/eamp/core/core-parameters-2.0" xmlns:jp="http://www.grz.at/jp/DataTypes-2.5" targetNamespace="http://www.racon.at/eamp/core/core-parameters-2.0" elementFormDefault="qualified" attributeFormDefault="unqualified">  
  <xs:import namespace="http://www.grz.at/jp/DataTypes-2.5" schemaLocation="jp-datatypes-2.5.xsd"/>  
  <xs:complexType name="RegistryException"> 
    <xs:sequence> 
      <xs:element name="statuscode" type="xs:string" nillable="true"/>  
      <xs:element name="statusmessage" type="xs:string" nillable="true"/> 
    </xs:sequence> 
  </xs:complexType>  
  <xs:element name="RegistryException" type="ns1:RegistryException"/> 
</xs:schema>
