integration/integration-service/src/main/resources/META-INF/wsdl/dependencyqueryservice-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- generated by jp-soa-cartridge-2.0.2 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jp="http://www.grz.at/jp/DataTypes-2.5" xmlns:ns2="http://www.racon.at/eamp/DependencyQueryService-1.0" xmlns:ns1="http://www.racon.at/eamp/eamp-parameters-1.0" xmlns:ns0="http://www.racon.at/eamp/eamp-types-1.0" targetNamespace="http://www.racon.at/eamp/DependencyQueryService-1.0" elementFormDefault="qualified" attributeFormDefault="unqualified">  
  <xs:import namespace="http://www.grz.at/jp/DataTypes-2.5" schemaLocation="jp-datatypes-2.5.xsd"/>  
  <xs:import namespace="http://www.racon.at/eamp/eamp-parameters-1.0" schemaLocation="eamp-parameters-1.0.xsd"/>  
  <xs:import namespace="http://www.racon.at/eamp/eamp-types-1.0" schemaLocation="eamp-types-1.0.xsd"/>  
  <xs:complexType name="QueryServiceDependeciesRequest"> 
    <xs:sequence> 
      <xs:element name="domain" type="jp:KeyList" nillable="true" minOccurs="0" maxOccurs="1"/>  
      <xs:element name="role" type="jp:Key" nillable="true" minOccurs="0" maxOccurs="1"/>  
      <xs:element name="application" type="ns0:Application" nillable="true" minOccurs="0" maxOccurs="1"/>  
      <xs:element name="module" type="ns0:Module" nillable="true" minOccurs="0" maxOccurs="1"/>  
      <xs:element name="service" type="ns0:ApplicationService" nillable="true" minOccurs="0" maxOccurs="1"/>  
      <xs:element name="tier" type="jp:Key" nillable="false" minOccurs="0" maxOccurs="1"/> 
    </xs:sequence> 
  </xs:complexType>  
  <xs:element name="queryServiceDependecies" type="ns2:QueryServiceDependeciesRequest"/>  
  <xs:complexType name="QueryServiceDependeciesResponse"> 
    <xs:sequence> 
      <xs:element name="value" type="ns0:SubscriptionList" nillable="false" minOccurs="0" maxOccurs="1"/> 
    </xs:sequence> 
  </xs:complexType>  
  <xs:element name="queryServiceDependeciesResponse" type="ns2:QueryServiceDependeciesResponse"/> 
</xs:schema>
