integration/integration-service/src/main/resources/META-INF/wsdl/dependencyqueryservice-1.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!-- generated by jp-soa-cartridge-2.0.2 -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:rcis="http://www.wsi4j.at/rci/SecurityTypes/3.0.0" xmlns:jp="http://www.grz.at/jp/ServiceLayerTypes-2.5" xmlns:ns1="http://www.racon.at/eamp/eamp-parameters-1.0" xmlns:ns2="http://www.racon.at/eamp/DependencyQueryService-1.0" xmlns:ns0="http://www.racon.at/eamp/eamp-types-1.0" targetNamespace="http://www.racon.at/eamp/DependencyQueryService-1.0" name="DependencyQueryService-1.0">  
  <wsdl:types> 
    <xs:schema targetNamespace="http://www.grz.at/soa/ServiceTypes">  
      <xs:import namespace="http://www.racon.at/eamp/eamp-parameters-1.0" schemaLocation="eamp-parameters-1.0.xsd"/>  
      <xs:import namespace="http://www.racon.at/eamp/DependencyQueryService-1.0" schemaLocation="dependencyqueryservice-1.0.xsd"/>  
      <xs:import namespace="http://www.wsi4j.at/rci/SecurityTypes/3.0.0" schemaLocation="rci-security-3.0.0.xsd"/>  
      <xs:import namespace="http://www.grz.at/jp/ServiceLayerTypes-2.5" schemaLocation="jp-soa-2.5.xsd"/> 
    </xs:schema> 
  </wsdl:types>  
  <wsdl:message name="RCISecurityMsg"> 
    <wsdl:part name="credentials" element="rcis:RCISecurity"/> 
  </wsdl:message>  
  <wsdl:message name="RCIFaultMsg"> 
    <wsdl:part name="fault" element="rcis:RCIFault"/> 
  </wsdl:message>  
  <wsdl:message name="SystemExceptionMsg"> 
    <wsdl:part name="fault" element="jp:SystemException"/> 
  </wsdl:message>  
  <wsdl:message name="ServiceContextMsg"> 
    <wsdl:part name="serviceContext" element="jp:ServiceContext"/> 
  </wsdl:message>  
  <wsdl:message name="ServiceRegistryExceptionMsg"> 
    <wsdl:part name="fault" element="ns1:ServiceRegistryException"/> 
  </wsdl:message>  
  <wsdl:message name="QueryServiceDependeciesRequestMsg"> 
    <wsdl:part name="request" element="ns2:queryServiceDependecies"/> 
  </wsdl:message>  
  <wsdl:message name="QueryServiceDependeciesResponseMsg"> 
    <wsdl:part name="response" element="ns2:queryServiceDependeciesResponse"/> 
  </wsdl:message>  
  <wsdl:portType name="DependencyQueryServicePortType"> 
    <wsdl:operation name="queryServiceDependecies"> 
      <wsdl:input name="QueryServiceDependeciesInput" message="ns2:QueryServiceDependeciesRequestMsg"/>  
      <wsdl:output name="QueryServiceDependeciesOutput" message="ns2:QueryServiceDependeciesResponseMsg"/>  
      <wsdl:fault name="RCISecurityFault" message="ns2:RCIFaultMsg"/>  
      <wsdl:fault name="SystemException" message="ns2:SystemExceptionMsg"/>  
      <wsdl:fault name="ServiceRegistryException" message="ns2:ServiceRegistryExceptionMsg"/> 
    </wsdl:operation> 
  </wsdl:portType>  
  <wsdl:binding name="DependencyQueryServiceBinding" type="ns2:DependencyQueryServicePortType"> 
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>  
    <wsdl:operation name="queryServiceDependecies"> 
      <soap:operation soapAction="http://www.racon.at/eamp/DependencyQueryService-1.0/queryServiceDependecies"/>  
      <wsdl:input name="QueryServiceDependeciesInput"> 
        <soap:header message="ns2:RCISecurityMsg" part="credentials" use="literal"/>  
        <soap:header message="ns2:ServiceContextMsg" part="serviceContext" use="literal"/>  
        <soap:body use="literal"/> 
      </wsdl:input>  
      <wsdl:output name="QueryServiceDependeciesOutput"> 
        <soap:body use="literal"/> 
      </wsdl:output>  
      <wsdl:fault name="RCISecurityFault"> 
        <soap:fault name="RCISecurityFault" use="literal"/> 
      </wsdl:fault>  
      <wsdl:fault name="SystemException"> 
        <soap:fault name="SystemException" use="literal"/> 
      </wsdl:fault>  
      <wsdl:fault name="ServiceRegistryException"> 
        <soap:fault name="ServiceRegistryException" use="literal"/> 
      </wsdl:fault> 
    </wsdl:operation> 
  </wsdl:binding>  
  <wsdl:service name="DependencyQueryService"> 
    <wsdl:port name="DependencyQueryServicePort" binding="ns2:DependencyQueryServiceBinding"> 
      <soap:address location="http://localhost:8080/undefined/DependencyQueryService"/> 
    </wsdl:port> 
  </wsdl:service> 
</wsdl:definitions>
