integration/integration-service/src/main/resources/META-INF/wsdl/eamp-parameters-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- generated by jp-soa-cartridge-2.0.2 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jp="http://www.grz.at/jp/DataTypes-2.5" xmlns:ns1="http://www.racon.at/eamp/eamp-parameters-1.0" xmlns:tns="http://www.racon.at/eamp/eamp-parameters-1.0" targetNamespace="http://www.racon.at/eamp/eamp-parameters-1.0" elementFormDefault="qualified" attributeFormDefault="unqualified">  
  <xs:import namespace="http://www.grz.at/jp/DataTypes-2.5" schemaLocation="jp-datatypes-2.5.xsd"/>  
  <xs:complexType name="ServiceRegistryException"> 
    <xs:sequence> 
      <xs:element name="statuscode" type="xs:string" nillable="true"/>  
      <xs:element name="statusmessage" type="xs:string" nillable="true"/> 
    </xs:sequence> 
  </xs:complexType>  
  <xs:element name="ServiceRegistryException" type="ns1:ServiceRegistryException"/> 
</xs:schema>
