integration/integration-service/src/main/resources/META-INF/wsdl/eamp-types-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- generated by jp-soa-cartridge-2.0.2 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jp="http://www.grz.at/jp/DataTypes-2.5" xmlns:ns0="http://www.racon.at/eamp/eamp-types-1.0" xmlns:tns="http://www.racon.at/eamp/eamp-types-1.0" targetNamespace="http://www.racon.at/eamp/eamp-types-1.0" elementFormDefault="qualified" attributeFormDefault="unqualified">  
  <xs:import namespace="http://www.grz.at/jp/DataTypes-2.5" schemaLocation="jp-datatypes-2.5.xsd"/>  
  <xs:complexType name="Subscription"> 
    <xs:sequence> 
      <xs:element name="consumer" type="ns0:ApplicationService" nillable="false" minOccurs="1" maxOccurs="1"/>  
      <xs:element name="provider" type="ns0:ApplicationService" nillable="false" minOccurs="1" maxOccurs="1"/> 
    </xs:sequence> 
  </xs:complexType>  
  <xs:complexType name="SubscriptionList"> 
    <xs:sequence> 
      <xs:element name="subscription" type="ns0:Subscription" minOccurs="0" maxOccurs="unbounded"/> 
    </xs:sequence> 
  </xs:complexType>  
  <xs:element name="subscription" type="ns0:Subscription" nillable="true"/>  
  <xs:complexType name="Application"> 
    <xs:complexContent> 
      <xs:extension base="ns0:Artifact"> 
        <xs:sequence> 
          <xs:element name="domain" type="jp:Key" nillable="false" minOccurs="1" maxOccurs="1"/> 
        </xs:sequence> 
      </xs:extension> 
    </xs:complexContent> 
  </xs:complexType>  
  <xs:complexType name="ApplicationList"> 
    <xs:sequence> 
      <xs:element name="application" type="ns0:Application" minOccurs="0" maxOccurs="unbounded"/> 
    </xs:sequence> 
  </xs:complexType>  
  <xs:element name="application" type="ns0:Application" nillable="true"/>  
  <xs:complexType name="Module"> 
    <xs:complexContent> 
      <xs:extension base="ns0:Artifact"> 
        <xs:sequence> 
          <xs:element name="application" type="ns0:Application" nillable="true" minOccurs="1" maxOccurs="1"/>  
          <xs:element name="tier" type="jp:Key" nillable="false" minOccurs="1" maxOccurs="1"/> 
        </xs:sequence> 
      </xs:extension> 
    </xs:complexContent> 
  </xs:complexType>  
  <xs:complexType name="ModuleList"> 
    <xs:sequence> 
      <xs:element name="module" type="ns0:Module" minOccurs="0" maxOccurs="unbounded"/> 
    </xs:sequence> 
  </xs:complexType>  
  <xs:element name="module" type="ns0:Module" nillable="true"/>  
  <xs:complexType name="Artifact"> 
    <xs:sequence> 
      <xs:element name="identifier" type="xs:string" nillable="false" minOccurs="1" maxOccurs="1"/>  
      <xs:element name="name" type="xs:string" nillable="false" minOccurs="1" maxOccurs="1"/>  
      <xs:element name="version" type="xs:string" nillable="false" minOccurs="1" maxOccurs="1"/>  
      <xs:element name="description" type="xs:string" nillable="false" minOccurs="0" maxOccurs="1"/>  
      <xs:element name="path" type="xs:string" nillable="false" minOccurs="0" maxOccurs="1"/>  
      <xs:element name="owner" type="xs:string" nillable="false" minOccurs="1" maxOccurs="1"/>  
      <xs:element name="created" type="xs:dateTime" nillable="false" minOccurs="1" maxOccurs="1"/>  
      <xs:element name="updated" type="xs:dateTime" nillable="true" minOccurs="1" maxOccurs="1"/> 
    </xs:sequence> 
  </xs:complexType>  
  <xs:complexType name="ArtifactList"> 
    <xs:sequence> 
      <xs:element name="artifact" type="ns0:Artifact" minOccurs="0" maxOccurs="unbounded"/> 
    </xs:sequence> 
  </xs:complexType>  
  <xs:element name="artifact" type="ns0:Artifact" nillable="true"/>  
  <xs:complexType name="ApplicationService"> 
    <xs:complexContent> 
      <xs:extension base="ns0:Artifact"> 
        <xs:sequence> 
          <xs:element name="type" type="jp:Key" nillable="false" minOccurs="1" maxOccurs="1"/>  
          <xs:element name="module" type="ns0:Module" nillable="false" minOccurs="1" maxOccurs="1"/> 
        </xs:sequence> 
      </xs:extension> 
    </xs:complexContent> 
  </xs:complexType>  
  <xs:complexType name="ApplicationServiceList"> 
    <xs:sequence> 
      <xs:element name="applicationService" type="ns0:ApplicationService" minOccurs="0" maxOccurs="unbounded"/> 
    </xs:sequence> 
  </xs:complexType>  
  <xs:element name="applicationService" type="ns0:ApplicationService" nillable="true"/> 
</xs:schema>
