integration/integration-service/src/main/resources/META-INF/wsdl/jp-soa-2.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.grz.at/jp/ServiceLayerTypes-2.5" xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:jp="http://www.grz.at/jp/ServiceLayerTypes-2.5" 
	targetNamespace="http://www.grz.at/jp/ServiceLayerTypes-2.5" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0.0">
    
    <xs:complexType name="Property">
    	<xs:sequence>
    		<xs:element name="property-name" type="xs:string" minOccurs="1" maxOccurs="1"/>
    		<xs:element name="property-value" type="xs:string" minOccurs="1" maxOccurs="1" nillable="true"/>
    	</xs:sequence>
    </xs:complexType>
    
    
    <xs:complexType name="ServiceContext">
    	<xs:sequence>
    		<xs:element name="applicationIdentifier" type="xs:string" minOccurs="1" maxOccurs="1"/>
    		<xs:element name="requestIdentifier" type="xs:string" minOccurs="0" maxOccurs="1"/>
    		<xs:element name="property" type="Property" minOccurs="0" maxOccurs="unbounded"/>
    	</xs:sequence>
    </xs:complexType>
    <xs:element name="ServiceContext" type="ServiceContext"/>

    <xs:complexType name="SystemException">
    	<xs:sequence>
    		<xs:element name="statuscode" type="xs:string"/>
    		<xs:element name="statusmessage" type="xs:string"/>
    	</xs:sequence>
    </xs:complexType>

    <xs:element name="SystemException" type="SystemException"/>
    
     <xs:complexType name="ServiceException">
    	<xs:sequence>
    		<xs:element name="statuscode" type="xs:string"/>
    		<xs:element name="statusmessage" type="xs:string"/>
    	</xs:sequence>
    </xs:complexType>

    <xs:element name="ServiceException" type="ServiceException"/>


</xs:schema>
