integration/integration-service/src/main/resources/META-INF/wsdl/registryservice-2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- generated by jp-soa-cartridge-dev -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns2="http://www.racon.at/eamp/core/RegistryService-2.0" xmlns:ns1="http://www.racon.at/eamp/core/core-parameters-2.0" xmlns:jp="http://www.grz.at/jp/DataTypes-2.5" xmlns:ns0="http://www.racon.at/eamp/core/core-types-2.0" targetNamespace="http://www.racon.at/eamp/core/RegistryService-2.0" elementFormDefault="qualified" attributeFormDefault="unqualified">  
  <xs:import namespace="http://www.racon.at/eamp/core/core-parameters-2.0" schemaLocation="core-parameters-2.0.xsd"/>  
  <xs:import namespace="http://www.grz.at/jp/DataTypes-2.5" schemaLocation="jp-datatypes-2.5.xsd"/>  
  <xs:import namespace="http://www.racon.at/eamp/core/core-types-2.0" schemaLocation="core-types-2.0.xsd"/>  
  <xs:complexType name="SearchArtifactsRequest"> 
    <xs:sequence> 
      <xs:element name="expression" type="xs:string" nillable="false" minOccurs="1" maxOccurs="1"/> 
    </xs:sequence> 
  </xs:complexType>  
  <xs:element name="searchArtifacts" type="ns2:SearchArtifactsRequest"/>  
  <xs:complexType name="SearchArtifactsResponse"> 
    <xs:sequence> 
      <xs:element name="value" type="ns0:ArtifactList" nillable="false" minOccurs="0" maxOccurs="1"/> 
    </xs:sequence> 
  </xs:complexType>  
  <xs:element name="searchArtifactsResponse" type="ns2:SearchArtifactsResponse"/>  
  <xs:complexType name="LoadArtifactRequest"> 
    <xs:sequence> 
      <xs:element name="identifier" type="xs:string" nillable="false" minOccurs="1" maxOccurs="1"/> 
    </xs:sequence> 
  </xs:complexType>  
  <xs:element name="loadArtifact" type="ns2:LoadArtifactRequest"/>  
  <xs:complexType name="LoadArtifactResponse"> 
    <xs:sequence> 
      <xs:element name="value" type="ns0:Artifact" nillable="false" minOccurs="1" maxOccurs="1"/> 
    </xs:sequence> 
  </xs:complexType>  
  <xs:element name="loadArtifactResponse" type="ns2:LoadArtifactResponse"/>  
  <xs:complexType name="LoadDependenciesRequest"> 
    <xs:sequence> 
      <xs:element name="identifier" type="xs:string" nillable="false" minOccurs="1" maxOccurs="1"/>  
      <xs:element name="dependencyRole" type="ns0:DependencyRole" nillable="false" minOccurs="1" maxOccurs="1"/> 
    </xs:sequence> 
  </xs:complexType>  
  <xs:element name="loadDependencies" type="ns2:LoadDependenciesRequest"/>  
  <xs:complexType name="LoadDependenciesResponse"> 
    <xs:sequence> 
      <xs:element name="value" type="ns0:ContainedElementList" nillable="false" minOccurs="0" maxOccurs="1"/> 
    </xs:sequence> 
  </xs:complexType>  
  <xs:element name="loadDependenciesResponse" type="ns2:LoadDependenciesResponse"/>  
  <xs:complexType name="LoadContainedElementsRequest"> 
    <xs:sequence> 
      <xs:element name="module" type="xs:string" nillable="false" minOccurs="1" maxOccurs="1"/> 
    </xs:sequence> 
  </xs:complexType>  
  <xs:element name="loadContainedElements" type="ns2:LoadContainedElementsRequest"/>  
  <xs:complexType name="LoadContainedElementsResponse"> 
    <xs:sequence> 
      <xs:element name="value" type="ns0:ContainedElementList" nillable="false" minOccurs="0" maxOccurs="1"/> 
    </xs:sequence> 
  </xs:complexType>  
  <xs:element name="loadContainedElementsResponse" type="ns2:LoadContainedElementsResponse"/> 
</xs:schema>
