integration/integration-service/src/main/resources/META-INF/wsdl/registryservice-2.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!-- generated by jp-soa-cartridge-dev -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns2="http://www.racon.at/eamp/core/RegistryService-2.0" xmlns:ns1="http://www.racon.at/eamp/core/core-parameters-2.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:rcis="http://www.wsi4j.at/rci/SecurityTypes/3.0.0" xmlns:jp="http://www.grz.at/jp/ServiceLayerTypes-2.5" xmlns:ns0="http://www.racon.at/eamp/core/core-types-2.0" targetNamespace="http://www.racon.at/eamp/core/RegistryService-2.0" name="RegistryService-2.0">  
  <wsdl:types> 
    <xs:schema targetNamespace="http://www.grz.at/soa/ServiceTypes">  
      <xs:import namespace="http://www.racon.at/eamp/core/RegistryService-2.0" schemaLocation="registryservice-2.0.xsd"/>  
      <xs:import namespace="http://www.racon.at/eamp/core/core-parameters-2.0" schemaLocation="core-parameters-2.0.xsd"/>  
      <xs:import namespace="http://www.wsi4j.at/rci/SecurityTypes/3.0.0" schemaLocation="rci-security-3.0.0.xsd"/>  
      <xs:import namespace="http://www.grz.at/jp/ServiceLayerTypes-2.5" schemaLocation="jp-soa-2.5.xsd"/> 
    </xs:schema> 
  </wsdl:types>  
  <wsdl:message name="RCISecurityMsg"> 
    <wsdl:part name="credentials" element="rcis:RCISecurity"/> 
  </wsdl:message>  
  <wsdl:message name="RCIFaultMsg"> 
    <wsdl:part name="fault" element="rcis:RCIFault"/> 
  </wsdl:message>  
  <wsdl:message name="SystemExceptionMsg"> 
    <wsdl:part name="fault" element="jp:SystemException"/> 
  </wsdl:message>  
  <wsdl:message name="ServiceContextMsg"> 
    <wsdl:part name="serviceContext" element="jp:ServiceContext"/> 
  </wsdl:message>  
  <wsdl:message name="RegistryExceptionMsg"> 
    <wsdl:part name="fault" element="ns1:RegistryException"/> 
  </wsdl:message>  
  <wsdl:message name="SearchArtifactsRequestMsg"> 
    <wsdl:part name="request" element="ns2:searchArtifacts"/> 
  </wsdl:message>  
  <wsdl:message name="SearchArtifactsResponseMsg"> 
    <wsdl:part name="response" element="ns2:searchArtifactsResponse"/> 
  </wsdl:message>  
  <wsdl:message name="LoadArtifactRequestMsg"> 
    <wsdl:part name="request" element="ns2:loadArtifact"/> 
  </wsdl:message>  
  <wsdl:message name="LoadArtifactResponseMsg"> 
    <wsdl:part name="response" element="ns2:loadArtifactResponse"/> 
  </wsdl:message>  
  <wsdl:message name="LoadDependenciesRequestMsg"> 
    <wsdl:part name="request" element="ns2:loadDependencies"/> 
  </wsdl:message>  
  <wsdl:message name="LoadDependenciesResponseMsg"> 
    <wsdl:part name="response" element="ns2:loadDependenciesResponse"/> 
  </wsdl:message>  
  <wsdl:message name="LoadContainedElementsRequestMsg"> 
    <wsdl:part name="request" element="ns2:loadContainedElements"/> 
  </wsdl:message>  
  <wsdl:message name="LoadContainedElementsResponseMsg"> 
    <wsdl:part name="response" element="ns2:loadContainedElementsResponse"/> 
  </wsdl:message>  
  <wsdl:portType name="RegistryServicePortType"> 
    <wsdl:operation name="searchArtifacts"> 
      <wsdl:input name="SearchArtifactsInput" message="ns2:SearchArtifactsRequestMsg"/>  
      <wsdl:output name="SearchArtifactsOutput" message="ns2:SearchArtifactsResponseMsg"/>  
      <wsdl:fault name="RCISecurityFault" message="ns2:RCIFaultMsg"/>  
      <wsdl:fault name="SystemException" message="ns2:SystemExceptionMsg"/>  
      <wsdl:fault name="RegistryException" message="ns2:RegistryExceptionMsg"/> 
    </wsdl:operation>  
    <wsdl:operation name="loadArtifact"> 
      <wsdl:input name="LoadArtifactInput" message="ns2:LoadArtifactRequestMsg"/>  
      <wsdl:output name="LoadArtifactOutput" message="ns2:LoadArtifactResponseMsg"/>  
      <wsdl:fault name="RCISecurityFault" message="ns2:RCIFaultMsg"/>  
      <wsdl:fault name="SystemException" message="ns2:SystemExceptionMsg"/>  
      <wsdl:fault name="RegistryException" message="ns2:RegistryExceptionMsg"/> 
    </wsdl:operation>  
    <wsdl:operation name="loadDependencies"> 
      <wsdl:input name="LoadDependenciesInput" message="ns2:LoadDependenciesRequestMsg"/>  
      <wsdl:output name="LoadDependenciesOutput" message="ns2:LoadDependenciesResponseMsg"/>  
      <wsdl:fault name="RCISecurityFault" message="ns2:RCIFaultMsg"/>  
      <wsdl:fault name="SystemException" message="ns2:SystemExceptionMsg"/>  
      <wsdl:fault name="RegistryException" message="ns2:RegistryExceptionMsg"/> 
    </wsdl:operation>  
    <wsdl:operation name="loadContainedElements"> 
      <wsdl:input name="LoadContainedElementsInput" message="ns2:LoadContainedElementsRequestMsg"/>  
      <wsdl:output name="LoadContainedElementsOutput" message="ns2:LoadContainedElementsResponseMsg"/>  
      <wsdl:fault name="RCISecurityFault" message="ns2:RCIFaultMsg"/>  
      <wsdl:fault name="SystemException" message="ns2:SystemExceptionMsg"/>  
      <wsdl:fault name="RegistryException" message="ns2:RegistryExceptionMsg"/> 
    </wsdl:operation> 
  </wsdl:portType>  
  <wsdl:binding name="RegistryServiceBinding" type="ns2:RegistryServicePortType"> 
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>  
    <wsdl:operation name="searchArtifacts"> 
      <soap:operation soapAction="http://www.racon.at/eamp/core/RegistryService-2.0/searchArtifacts"/>  
      <wsdl:input name="SearchArtifactsInput"> 
        <soap:header message="ns2:RCISecurityMsg" part="credentials" use="literal"/>  
        <soap:header message="ns2:ServiceContextMsg" part="serviceContext" use="literal"/>  
        <soap:body use="literal"/> 
      </wsdl:input>  
      <wsdl:output name="SearchArtifactsOutput"> 
        <soap:body use="literal"/> 
      </wsdl:output>  
      <wsdl:fault name="RCISecurityFault"> 
        <soap:fault name="RCISecurityFault" use="literal"/> 
      </wsdl:fault>  
      <wsdl:fault name="SystemException"> 
        <soap:fault name="SystemException" use="literal"/> 
      </wsdl:fault>  
      <wsdl:fault name="RegistryException"> 
        <soap:fault name="RegistryException" use="literal"/> 
      </wsdl:fault> 
    </wsdl:operation>  
    <wsdl:operation name="loadArtifact"> 
      <soap:operation soapAction="http://www.racon.at/eamp/core/RegistryService-2.0/loadArtifact"/>  
      <wsdl:input name="LoadArtifactInput"> 
        <soap:header message="ns2:RCISecurityMsg" part="credentials" use="literal"/>  
        <soap:header message="ns2:ServiceContextMsg" part="serviceContext" use="literal"/>  
        <soap:body use="literal"/> 
      </wsdl:input>  
      <wsdl:output name="LoadArtifactOutput"> 
        <soap:body use="literal"/> 
      </wsdl:output>  
      <wsdl:fault name="RCISecurityFault"> 
        <soap:fault name="RCISecurityFault" use="literal"/> 
      </wsdl:fault>  
      <wsdl:fault name="SystemException"> 
        <soap:fault name="SystemException" use="literal"/> 
      </wsdl:fault>  
      <wsdl:fault name="RegistryException"> 
        <soap:fault name="RegistryException" use="literal"/> 
      </wsdl:fault> 
    </wsdl:operation>  
    <wsdl:operation name="loadDependencies"> 
      <soap:operation soapAction="http://www.racon.at/eamp/core/RegistryService-2.0/loadDependencies"/>  
      <wsdl:input name="LoadDependenciesInput"> 
        <soap:header message="ns2:RCISecurityMsg" part="credentials" use="literal"/>  
        <soap:header message="ns2:ServiceContextMsg" part="serviceContext" use="literal"/>  
        <soap:body use="literal"/> 
      </wsdl:input>  
      <wsdl:output name="LoadDependenciesOutput"> 
        <soap:body use="literal"/> 
      </wsdl:output>  
      <wsdl:fault name="RCISecurityFault"> 
        <soap:fault name="RCISecurityFault" use="literal"/> 
      </wsdl:fault>  
      <wsdl:fault name="SystemException"> 
        <soap:fault name="SystemException" use="literal"/> 
      </wsdl:fault>  
      <wsdl:fault name="RegistryException"> 
        <soap:fault name="RegistryException" use="literal"/> 
      </wsdl:fault> 
    </wsdl:operation>  
    <wsdl:operation name="loadContainedElements"> 
      <soap:operation soapAction="http://www.racon.at/eamp/core/RegistryService-2.0/loadContainedElements"/>  
      <wsdl:input name="LoadContainedElementsInput"> 
        <soap:header message="ns2:RCISecurityMsg" part="credentials" use="literal"/>  
        <soap:header message="ns2:ServiceContextMsg" part="serviceContext" use="literal"/>  
        <soap:body use="literal"/> 
      </wsdl:input>  
      <wsdl:output name="LoadContainedElementsOutput"> 
        <soap:body use="literal"/> 
      </wsdl:output>  
      <wsdl:fault name="RCISecurityFault"> 
        <soap:fault name="RCISecurityFault" use="literal"/> 
      </wsdl:fault>  
      <wsdl:fault name="SystemException"> 
        <soap:fault name="SystemException" use="literal"/> 
      </wsdl:fault>  
      <wsdl:fault name="RegistryException"> 
        <soap:fault name="RegistryException" use="literal"/> 
      </wsdl:fault> 
    </wsdl:operation> 
  </wsdl:binding>  
  <wsdl:service name="RegistryService"> 
    <wsdl:port name="RegistryServicePort" binding="ns2:RegistryServiceBinding"> 
      <soap:address location="http://localhost:8080/undefined/RegistryService"/> 
    </wsdl:port> 
  </wsdl:service> 
</wsdl:definitions>
